/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.brands .brand-item .top-clothes-button-wrap, .brands .brand-item .bottom-clothes-button-wrap {
			position: absolute;
			float: left;
			bottom: 340px;
			right: 20%;	

		}
			
.brands .brand-item .bottom-clothes-button-wrap {
	bottom: 180px;
	right: 32%;	
}
.cat-img {
	height: 100%;
}
			
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.brands .brand-item .burton-title {
		font-size: 32px;
		bottom: 110px;

	}
	.brands .brand-item .bottom-clothes-button-wrap {
	    bottom: 258px;
    	right: 24%;
	}
	.brands .brand-item .top-clothes-button-wrap {
		bottom: 379px;
		right: 18%;
	}
	.brands .brand-item .top-clothes-button-wrap .clothes-descr span,
	.brands .brand-item .bottom-clothes-button-wrap .clothes-descr span {
		font-size: 16px;
	}
	.cat-img {
		height: 100%;
	}
			
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.brands .brand-item .burton-title {
		font-size: 31px;
		
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.logo-block img {
		display: none;
	}
	.logo-block {
		background-image: url('../img/m-header-logo.png');
		background-repeat: no-repeat;
		height: 60px;
		position: relative;
	}
	.toggle-menu {
		left: 332px;
		bottom: 10px;
		position: absolute;
	}
	.button {
		background-image: url('../img/button.png');
		background-repeat: no-repeat;
		width: 30px;
		height: 30px;
	}

	header .head-mnu {
		width: 100%;
		margin-left: 0;
		display: none;
	}
	header .head-mnu ul li {
		display: block;
		border-bottom: 1px solid #414548
	}
	.head-mnu ul {
		padding-left: 0;
	}
	.brand-item {
		display: none;
	}
	.table table td{
		padding: 2px;
		font-size: 12px;
	}
	.table table td:nth-child(6) .table-inquiry {
		padding: 2px
	}
	.table .container, .col-md-12 {
		padding: 0
	}
	.table .row {
		margin: 0;
	}
	.brands select {
		margin-bottom: 0;	
	}
	header .head-mnu ul li:hover {
		background-color: #00aeef;
		cursor: pointer;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

	.logo-block {
		background-image: url('../img/m-header-logo.png');
		background-repeat: no-repeat;
		height: 60px;
		position: relative;
		background-size: 80%;

	}
	.toggle-menu {
   		left: 282px;
    	bottom: 10px;
   		position: absolute;
}

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}