@import "bourbon/bourbon"

$white-cirlce: #000
$grey-circle: #cbcbcc
$red-circle: #d74345
$green-circle: #88c504

body
	font-weight: normal
	font-size: 14px
	min-width: 320px
	position: relative
	line-height: 1.42857
	-webkit-font-smoothing: antialised
	font-family: 'ArialRegular', sans-serif

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: red
body input:required:valid,
body textarea:required:valid
	color: green

.hidden
	display: none

header
	background-color: #282d30
	width: 100%	
	font-family: 'RobotoRegular', sans-serif
	.logo
		position: relative
		top: 8px
	.head-mnu
		margin-left: 80px
		color: #fff
		position: relative
		ul 
			margin-bottom: 0
			li 
				display: inline-block
				vertical-align: middle
				padding: 26px 20px	
				line-height: 14px
				text-transform: uppercase

				
				a 
					cursor: pointer
					color: #fff
					text-decoration: none
					padding-bottom: 1px
					&:hover
						border-bottom: 3px solid #00aeef
		.hide-mnu 
			background-color: #282d30
			width: 240px
			margin-top: 0
			position: absolute
			padding-left: 0
			left: 30px
			z-index: 2
			display: none
			li 
				display: block
				font-family: 'Roboto', sans-serif
				font-size: 14px
				font-weight: normal
				padding: 10px 10px
				text-transform: none
				border-bottom: 1px solid #383d40
				width: 100%	
				&:last-child
					border-bottom: none
				&:hover 
					background-color: #00aeef
				a 
					padding-left: 20px

.brands
	padding-top: 34px
	span
		font-size: 15px
	select
		display: block	
		margin-top: 15px
		width: 200px
		padding: 3px 0	
		font-family: 'ArialBold', sans-serif
		margin-bottom: 50px
	.brand-item
		background-color: #000
		min-height: 560px
		position: relative
		.cat-img
			opacity: .25
			background-size: cover
			overflow: hidden
			max-width: 100%
		.top-clothes-button-wrap,
		.bottom-clothes-button-wrap
			position: absolute
			float: left
			bottom: 300px
			right: 24%	
			span
				display: block		
			.clothes-button
				width: 43px 
				height: 43px
				border-radius: 50%
				background-color: #fff
				float: left
				cursor: pointer
				margin-right: 30px
				.close 
					position: absolute
					width: 43px
					height: 43px
					border-radius: 50%
					top: 8px 
					left: 6px
				
					.horizontal-line,
					.vertical-line 
						position: absolute
						left: 15px
						content: ' '
						height: 26px
						width: 2px
						background-color: #00aeef
					
				
					.horizontal-line 
						transform: rotate(90deg)
				&:hover .horizontal-line,
				&:hover .vertical-line
					background-color: #e3343d
			.clothes-descr
				float: right
				display: none	
				span 
					font-size: 20px
					color: #fff
					vertical-align: 30px
				a 
					vertical-align: 30px
					margin-top: 10px	
					display: block
		.bottom-clothes-button-wrap
			bottom: 140px
			right: 36%	
		.burton-title
			float: right
			position: absolute
			bottom: 1px	
			right: 250px
			font-size: 42px
			color: #fff
			font-family: 'ArialRegular', sans-serif
			font-weight: normal
.table 
	padding-bottom: 65px
	margin-top: 50px
	.auto-title
		margin-left: 15px
		font-family: 'RobotoBold', sans-serif
		font-size: 20px
		text-transform: uppercase
		margin-top: 0
		position: relative
		&:before
			content: ''
			position: absolute
			width: 3px
			height: 18px
			background-color: #8b9497
			bottom: 4px
			left: -12px

	table
		
		tr 
			border-spacing: 0
			border-radius: 10px
			border-bottom: 1px solid #e6e9ea
			background-color: #f5f6f6
			&:first-child
				border-bottom: none
		th 
			padding: 10px 20px 10px 20px
			background-color: #d7dcde
			text-align: left
			font-family: 'Roboto', sans-serif
			font-weight: normal
			font-size: 15px
			&:first-child
				border-top-left-radius: 5px
				padding-left: 15px
				
			&:last-child 
				border-top-right-radius: 5px
			&:nth-child(5)
				.auto-price
					border-bottom: 1px dashed #64686b
					position: relative
					cursor: pointer
					&::after
						content: ''
						position: absolute
						width: 10px
						height: 10px
						background-image: url("../img/price-triangle.png") 
						background-repeat: no-repeat
						bottom: 0
						right: -15px
		td 
			&:first-child
				padding-left: 15px
				color: #323232
			padding: 10px 20px 10px 20px
			font-family: 'RobotoLight', sans-serif
			font-size: 15px
			&:nth-child(2)
				color: #282d30
			&:nth-child(4)
			
			&:nth-child(5)
			
			&:nth-child(6)	
				padding: 5px 0 5px 0
				color: #8b9497
				font-size: 14px
				background-color: transparent
				border-radius: 10px
				cursor: pointer
				.table-inquiry
					padding: 5px 20px 5px 20px
					background-color: transparent
					border-radius: 20px
					&:hover
						background-color: #282d30
						color: #fff



			.more-descr
				font-size: 13px
				color: #8b9497
				display: block
			.table-circle
				width: 20px
				height: 20px
				background-color: #000
				border-radius: 50%
				margin-left: 8px
				border: 1px solid #dfdfdf
			.white-circle
				background-color: #fff
			.grey-circle
				background-color: #cbcbcc
			.red-circle 
				background-color: #d74345
			.green-circle
				background-color: #88c504
footer 
	background-color: #282d30
	.copyright-wrap
		font-family: 'RobotoLight', sans-serif
		font-size: 11px
		margin: auto
		text-align: center
		padding: 40px
		color: #fff		




    			
				
	
